body {
  background-color: white;
}

h1 {
  color: red;
}

p {
  color: yellow;
  {

ul {
  color: pink;
}
  ol {
   color: purple;
  }

  button {
    background-color: blue;
    color: red;
    font-family: fantasy;
    font-size: 30px;  
    border: 2px dashed black;
  }
  
  
  
